asgiref==3.6.0
Django==3.0.3
django-appconf==1.0.4
django-cors-headers==3.2.1
django-filter==2.2.0
django-imagekit==4.0.2
django-resized==1.0.2
django-select2==7.2.3
django-storages==1.9.1
django-suit2==2.0a1
djangorestframework==3.11.0
gunicorn==20.1.0
pilkit==2.0
Pillow==9.4.0
psycopg2==2.9.5
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
wcwidth==0.1.9
whitenoise==5.0.1
wrapt==1.11.2
