{% extends 'deliver/base.html' %}

{% block title %} {{ title }}
{% endblock title %}
{% block content %}
<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">مێزیكار</li>

        <li class="breadcrumb-item active">خواردنه‌كان</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div aria-label="Button group" class="btn-group" role="group">
                <a class="btn" href="#"><i class="icon-speech"></i></a>
                <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;میزکار</a>
                <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;رێخستنەکان</a>
            </div>
        </li>
    </ol>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #f6f6f6;
            color: #444;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 1;
        }

        .container {
            max-width: 1100px;
            padding: 0 20px;
            margin: 0 auto;
        }

        .panel {
            margin: 100px auto 40px;
            max-width: 500px;
            text-align: center;
        }

        .button_outer {
            background: #83ccd3;
            border-radius: 30px;
            text-align: center;
            height: 50px;
            width: 200px;
            display: inline-block;
            transition: .2s;
            position: relative;
            overflow: hidden;
        }

        .btn_upload {
            padding: 17px 30px 12px;
            color: #fff;
            text-align: center;
            position: relative;
            display: inline-block;
            overflow: hidden;
            z-index: 3;
            white-space: nowrap;
        }

        .btn_upload input {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            width: 100%;
            height: 105%;
            cursor: pointer;
            opacity: 0;
        }

        .file_uploading {
            width: 100%;
            height: 10px;
            margin-top: 20px;
            background: #ccc;
        }

        .file_uploading .btn_upload {
            display: none;
        }

        .processing_bar {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            border-radius: 30px;
            background: #83ccd3;
            transition: 3s;
        }

        .file_uploading .processing_bar {
            width: 100%;
        }

        .success_box {
            display: none;
            width: 50px;
            height: 50px;
            position: relative;
        }

        .success_box:before {
            content: '';
            display: block;
            width: 9px;
            height: 18px;
            border-bottom: 6px solid #fff;
            border-right: 6px solid #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 17px;
            top: 10px;
        }

        .file_uploaded .success_box {
            display: inline-block;
        }

        .file_uploaded {
            margin-top: 0;
            width: 50px;
            background: #83ccd3;
            height: 50px;
        }

        .uploaded_file_view {
            max-width: 300px;
            margin: 40px auto;
            text-align: center;
            position: relative;
            transition: .2s;
            opacity: 0;
            border: 2px solid #ddd;
            padding: 15px;
        }

        .file_remove {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: block;
            position: absolute;
            background: #aaa;
            line-height: 30px;
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            right: -15px;
            top: -15px;
        }

        .file_remove:hover {
            background: #222;
            transition: .2s;
        }

        .uploaded_file_view img {
            max-width: 100%;
        }

        .uploaded_file_view.show {
            opacity: 1;
        }

        .error_msg {
            text-align: center;
            color: #f00
        }

    </style>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>زیادکردنی </strong>خواردن
                        </div>
                        <div class="card-body">
                            <form action="{% url 'deliver:ajax' %}" class="form-horizontal" enctype="multipart/form-data" id="ajaxForm"
                                  method="POST" method="post">
                                <input hidden name="action" type="text" value="food_add">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="appendedPrependedInput">دیاری کردنی
                                        خوارن</label>
                                    <div class="col-md-9">
                                        <div class="input-prepend input-group">
                                            <select class="form-control" id="select" name="catId">
                                                <option value="0">خواردنەکان</option>
                                                {% for cat in cats %}
                                                <option value="{{ cat.id }}">{{ cat.nameKu }}</option>
                                                {% endfor %}
                                            </select>
                                            <a class="btn btn-success" href="{% url 'deliver:cats' %}" role="button"><i
                                                    class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">ناو</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="title" placeholder="ناو"
                                               type="text">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">ناونیشان</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="subtitle" placeholder="ناو"
                                               type="text">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">تێچوو</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="cost" placeholder="نرخ"
                                               type="text">
                                        <span class="help-block">تێچووی دروستکدن</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">نرخی فرۆشتن</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="sell_price" placeholder="نرخ"
                                               type="text">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="textarea-input">وردەکاری</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="textarea-input" name="detiles" placeholder="پێکهاتەکانی خواردن...."
                                                  rows="9"></textarea>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="panel">
                                        <div class="button_outer">
                                            <div class="btn_upload">
                                                <input id="upload_file" name="image" type="file">
                                                Upload Image
                                            </div>
                                            <div class="processing_bar"></div>
                                            <div class="success_box"></div>
                                        </div>
                                    </div>
                                    <div class="error_msg"></div>
                                    <div class="uploaded_file_view" id="uploaded_view">
                                        <span class="file_remove">X</span>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-sm btn-primary" type="submit"><i
                                            class="fa fa-plus"></i> زیادكردن
                                    </button>
                                    <button class="btn btn-sm btn-danger" type="cancel"><i class="fa fa-ban"></i>
                                        وازهینان
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            تام نکهاتی
                            <strong>خواردنەکان</strong>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'deliver:ajax' %}" class="ajaxForm form-horizontal" method="POST"
                                  method="post">
                                <input hidden name="action" type="text" value="specify">
                                <div class="form-group row">
                                    <label class="col-md-5 form-control-label" for="appendedPrependedInput">دیاری کردنی
                                        خوارن</label>
                                    <div class="col-md-6">
                                        <div class="input-prepend input-group">
                                            <select class="form-control" id="select" name="foodId">
                                                <option value="0">خواردنەکان</option>
                                                {% for food in foodz %}
                                                <option value="{{ food.id }}">{{ food.title }}</option>
                                                {% endfor %}
                                            </select>
                                            <a class="btn btn-success" href="{% url 'deliver:foods' %}" role="button"><i
                                                    class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="input-normal">ناو</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="input-normal" name="title" placeholder="ناو"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="input-large">نرخ</label>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-lg" id="input-large" name="price"
                                               placeholder="دع" type="text">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="form-actions">
                                        <button class="btn btn-sm btn-primary" type="submit"><i
                                                class="fa fa-plus"></i> زیادكردن
                                        </button>
                                        <button class="btn btn-sm btn-danger" type="cancel"><i class="fa fa-ban"></i>
                                            وازهینان
                                        </button>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            داشکاندی
                            <strong>خواردن</strong>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'deliver:ajax' %}" class="ajaxForm" id="ajaxForm" method="POST"
                                  method="post">
                                <input hidden name="action" type="text" value="disprice">
                                <div class="form-group row">
                                    <label class="col-md-5 form-control-label" for="appendedPrependedInput">دیاری کردنی
                                        خوارن</label>
                                    <div class="col-md-6">
                                        <div class="input-prepend input-group">
                                            <select class="form-control" id="select" name="foodId">
                                                <option value="0">خواردنەکان</option>
                                                {% for food in foodz %}
                                                <option value="{{ food.id }}">{{ food.title }}</option>
                                                {% endfor %}
                                            </select>
                                            <a class="btn btn-success" href="{% url 'deliver:foods' %}" role="button"><i
                                                    class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="input-normal">ناو</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="input-normal" name="title" placeholder="ناو"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="appendedPrependedInput">نرخی
                                        داشکاند</label>
                                    <div class="col-sm-6">
                                        <div class="input-prepend input-group">
                                            <span class="input-group-addon">$</span>
                                            <input class="form-control" id="appendedPrependedInput" name="price"
                                                   size="16" type="text">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input class="input-sm form-control" name="start_date" type="date"/>
                                            <span class="input-group-addon">بۆ</span>
                                            <input class="input-sm form-control" name="exp_date" type="date"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="form-actions">
                                        <button class="btn btn-sm btn-primary" type="submit"><i
                                                class="fa fa-plus"></i> زیادكردن
                                        </button>
                                        <button class="btn btn-sm btn-danger" type="cancel"><i class="fa fa-ban"></i>
                                            وازهینان
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> خواردنه‌كان
                        </div>
                        <div class="card-body">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <h2>گەڕان لە خواردنەکان</h2>
                            <p>بو فلتەوە کردنی خشتەکە :</p>
                            <input class="form-control" id="search" placeholder="بۆ ....." type="text">
                            <br>
                            <table class="table table-responsive table-bordered table-striped table-responsive table-sm"
                                   id="tab">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>گروپ</th>
                                    <th>ناو</th>
                                    <th>ب.زیادکردن</th>
                                    <th>ناونیشان</th>
                                    <th>ن.فرۆشتن</th>
                                    <th>ن.تێچوو</th>
                                    <th>رەیت</th>
                                    <th>وێنه‌</th>
                                    <th>بارودۆخ</th>
                                    <th>كرداره‌كان</th>
                                    <th hidden>تابەیمەندیەکان</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for food in foods %}

                                <tr>
                                    <td>{{ food.id }}</td>
                                    <td>{{ food.category }}</td>
                                    <td><a href="{% url 'deliver:foodDetail' food.id %}">{{ food.title }}</a></td>
                                    <td>{{food.date_add}}</td>
                                    <td>{{ food.subtitle }}</td>
                                    <td>{{ food.sell_price }}</td>
                                    <td>{{ food.cost }}</td>
                                    <td class="fa-1x">
                                        <span class="fa-layers fa-fw" style="background:MistyRose">
                                                <i class="fa fa-star fa-2x text-warning"></i>
                                                <span class="fa-layers-text fa-inverse"
                                                      data-fa-transform="shrink-11.5 rotate--30"
                                                      style="font-weight:900"><p class="text-success">{{ food.avg_ratings }}</p></span>
                                            </span>
                                    </td>
                                    <td>
                                        {% if food.image %}
                                        <a class="primary-btn" data-fancybox="gallery" href="{{ food.image.url }}"><img
                                                height="70" src="{{ food.image.url }}"></a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if food.deleted %}
                                        <span class="badge badge-danger">سڕکراوە</span>
                                        {% else %}
                                        <span class="badge badge-success">چالاکە</span>
                                        {% endif %}


                                    </td>
                                    <td><a class="btn btn-warning" href="{% url 'deliver:foodEdit' food.id %}"
                                           role="button">
                                        دەستکاریکردن
                                        <i aria-hidden="true" class="fa fa-edit fa-1x"></i></i>
                                    </a>
                                        {% if food.deleted %}
                                        <a class="btn btn-primary"
                                           href="{% url 'deliver:ajax' %}?action=fooddelete&id={{food.id}} "
                                           role="button">
                                            گەڕاندنەوە
                                            <i aria-hidden="true" class="fa fa-refresh fa-1x"></i></i>

                                        </a>{% else %}
                                        <a class="btn btn-danger"
                                           href="{% url 'deliver:ajax' %}?action=fooddelete&id={{food.id}} "
                                           role="button">
                                            سڕەینەوە
                                            <i aria-hidden="true" class="fa fa-trash fa-1x"></i></i>
                                        </a>{% endif %}
                                    </td>
                                    <td hidden>

                                        {% for specify in food.specifies.all %}
                                        <span class="badge badge-success">
                                                                                                    {{ specify }}
                                                </span>

                                        {% endfor %}

                                    </td>
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>

{% endblock %}