{% extends 'deliver/base.html' %}
{% comment %} {% block title %} {{ title }} {% endblock title %}  {% endcomment %}
{% block content %}
<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">میزکار</li>

        <li class="breadcrumb-item active"> فرم ها</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div aria-label="Button group" class="btn-group" role="group">
                <a class="btn" href="#"><i class="icon-speech"></i></a>
                <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;میزکار</a>
                <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;رێخستنەکان</a>
            </div>
        </li>
    </ol>


    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-edit"></i>فورمی جوری خواردنه‌كان
                            <div class="card-actions">
                                <a class="btn-setting" href="#"><i class="icon-settings"></i></a>
                                <a class="btn-minimize" href="#"><i class="icon-arrow-up"></i></a>
                                <a class="btn-close" href="#"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'deliver:ajax' %}" class="form-horizontal" enctype="multipart/form-data" id="ajaxForm"
                                  method="POST">
                                {% csrf_token %}
                                <input hidden name="action" value="food_edit">
                                <input name="id" type="hidden" value="{{ food.id }}">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="select">جوری خواردن</label>
                                    <div class="col-md-9">
                                        <select class="form-control form-control-md" id="select" name="catId">
                                            {% for cat in cats %}
                                            <option %}
                                                    %}selected="selected" cat.id== endif food.category_id if value="{{cat.id}}" {% {%
                                            >{{ cat.nameKu }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">ناو</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="title" placeholder="ناو"
                                               type="text" value="{{ food.title }}">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">ناونیشان</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="subtitle" placeholder="ناو"
                                               type="text" value="{{ food.subtitle }}">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">تێچوو</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="cost" placeholder="نرخ"
                                               type="text" value="{{ food.cost }}">
                                        <span class="help-block">تێچووی دروستکدن</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">نرخی فرۆشتن</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="text-input" name="sell_price" placeholder="نرخ"
                                               type="text" value="{{ food.sell_price }}">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="textarea-input">وردەکاری</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="textarea-input" name="detiles" placeholder="پێکهاتەکانی خواردن...."
                                                  rows="9" value="detiles"></textarea>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="panel">
                                        <div class="card-body" id="inn">
                                            {% if food.image %}
                                            <img height="300" src="{{ food.image.url }}">
                                            {% endif %}
                                        </div>
                                        <div class="button_outer">
                                            <div class="btn_upload">
                                                <input id="upload_file" name="image" type="file"> Upload Image
                                            </div>
                                            <div class="processing_bar"></div>
                                            <div class="success_box"></div>
                                        </div>
                                    </div>
                                    <div class="error_msg"></div>
                                    <div class="uploaded_file_view" id="uploaded_view">
                                        <span class="file_remove">X</span>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                    <button class="btn btn-secondary" type="button">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">میزکار</li>

        <li class="breadcrumb-item active"> خواردنه‌كان</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div aria-label="Button group" class="btn-group" role="group">
                <a class="btn" href="#"><i class="icon-speech"></i></a>
                <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;میزکار</a>
                <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;رێخستنەکان</a>
            </div>
        </li>
    </ol>


    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-edit"></i>فورمی خواردنه‌كان
                            <div class="card-actions">
                                <a class="btn-setting" href="#"><i class="icon-settings"></i></a>
                                <a class="btn-minimize" href="#"><i class="icon-arrow-up"></i></a>
                                <a class="btn-close" href="#"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="" class="form-horizontal" method="POST">
                                <div class="form-group">
                                    <label class="form-control-label" for="prependedInput">ناوی كوردی</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <!-- <span class="input-group-addon">@</span> -->
                                            <input class="form-control" id="prependedInput" size="16" type="text">
                                        </div>
                                        <p class="help-block">Here's some help text</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="prependedInput">ناوی بیانی</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <!-- <span class="input-group-addon">@</span> -->
                                            <input class="form-control" id="prependedInput" size="16" type="text">
                                        </div>
                                        <p class="help-block">Here's some help text</p>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="panel">
                                        <div class="button_outer">
                                            <div class="btn_upload">
                                                <input id="upload_file" name="" type="file"> Upload Image
                                            </div>
                                            <div class="processing_bar"></div>
                                            <div class="success_box"></div>
                                        </div>
                                    </div>
                                    <div class="error_msg"></div>
                                    <div class="uploaded_file_view" id="uploaded_view">
                                        <span class="file_remove">X</span>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                    <button class="btn btn-secondary" type="button">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>