{% extends 'deliver/base.html' %} 

{% block title %} {{ title }}
{% endblock title %}
{% block content %}
<!-- Main content -->
        <main class="main">

            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">مێزیكار</li>

                <li class="breadcrumb-item active">داواکاری خواردن</li>

                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="#"><i class="icon-speech"></i></a>
                        <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;میزکار</a>
                        <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;رێخستنەکان</a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> داواکاری خواردن 
                                </div>
                                <div class="card-body">
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <h2>گەڕان لە خواردنەکان</h2>
                                    <p>بو فلتەوە کردنی خشتەکە :</p>
                                    <input class="form-control" id="search" type="text" placeholder="بۆ .....">
                                    <br>
                                    <table id="tab" class="table table-responsive table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ناو کڕیار</th>
                                                <th>خواردنه‌كان</th>
                                                <th>ناونیشان </th>
                                                <th>نرخ</th>
                                                <th>داشکاندن</th>
                                                <th>موبایل</th>
                                                <th>بەروار دانان</th>
                                                <th>بارودۆخ</th>
                                                <th>فورمی ناردن</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for request in requests %}
                                             <tr>
                                                <td>{{ request.id }}</td>
                                                <td><a href="{% url 'deliver:customer' request.customer.id %}">{{ request.customer }}</a></td>
                                                {% for req in request.request_detail.all %}
                                                <td><a href="{% url 'deliver:requestDetailView'  req.id %}">{{ req }}</a></td>
                                                {% endfor %}
                                                <td>{{ request.address }}</td>
                                                <td>{{ request.total_price }}</td>
                                                <td>{{ request.dashkandin }}</td>
                                                <td>{{ request.customer.phone }}</td>
                                                <td>{{ request.date_added }}</td>
                                                <td>
                                                {% if request.status %}
                                                    <span class="badge badge-danger">سڕکراوە</span>
                                                {% else %}
                                                    <span class="badge badge-success">چالاکە</span>
                                                {% endif %}
                                                </td>
                                                <td>
                                                   
                                                    {% if request.status %}
                                                        <a role="button" href="{% url 'deliver:ajax' %}?action=reqdelete&id={{request.id}} " class="btn btn-primary">
                                                        گەڕاندنەوە
                                                        <i class="fa fa-refresh fa-1x" aria-hidden="true"></i></i>
                                                    </a>{% else %}
                                                       <form enctype="multipart/form-data" class="form-horizontal" id="simpleForm" method="POST" action="{% url 'deliver:ajax' %}">
                                                        <input name="action" value="add_trasnport" hidden>
                                                        <input name="request" value="{{ request.id }}" hidden>
                                                        <select name="dliver" id="d">
                                                            {% for dliver in dlivers %}
                                                            <option value="{{ dliver.id }}">{{ dliver }}</option>  
                                                            {% endfor %}
                                                        </select>
                                                        <button type="submit" class="btn btn-sm btn-primary">
                                                            <i class="fa fa-plane"></i> ناردن</button>
                                                    </form>
                                                    </a>{% endif %}
                                                    
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">4</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>

            </div>
            <!-- /.conainer-fluid -->
        </main>

{% endblock %}