{% extends 'deliver/base.html' %}

{% block title %} {{ title }}
{% endblock title %}
{% block content %}

<!-- Main content -->
<main class="main">


    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">میزکار</li>

        <li class="breadcrumb-item active"> داواکاری خواردن</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div aria-label="Button group" class="btn-group" role="group">
                <a class="btn" href="#"><i class="icon-speech"></i></a>
                <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;میزکار</a>
                <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;رێخستنەکان</a>
            </div>
        </li>
    </ol>


    <div class="container-fluid">
        <div class="animated fadeIn">
            {% for request_detail in request.request_detail.all %}
            <div class="col-sm-6 col-md-4">
                <div class="card animated fadeInLeft">
                    <img alt="" class="card-img-top img-responsive" src="{{ request_detail.food.image.url }}">
                    <div class="card-img-overlay">
                        <a class="btn btn-primary" href="{% url 'deliver:catEdit' request.id %}">{{request_detail.food}}
                            X{{ request_detail.quantity }}</a>
                    </div>
                    <div class="card-body">
                        $
                        <td>{{ request.total_price }}</td>
                        $
                        <td>{{ request.address }}</td>
                        <td>{{ request.phone }}</td>
                        <td>
                    </div>
                    <div class="card-footer">{{ request.date_added }} {{ request }}</div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>

{% endblock %}