{% extends 'deliver/base.html' %}

{% block title %} {{ title }}
{% endblock title %}
{% block content %}
<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">مێزیكار</li>

        <li class="breadcrumb-item active">جوری خواردنه‌كان</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#"><i class="icon-speech"></i></a>
                <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;میزکار</a>
                <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;تنظیمات</a>
            </div>
        </li>
    </ol>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #f6f6f6;
            color: #444;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 1;
        }

        .container {
            max-width: 1100px;
            padding: 0 20px;
            margin: 0 auto;
        }

        .panel {
            margin: 100px auto 40px;
            max-width: 500px;
            text-align: center;
        }

        .button_outer {
            background: #83ccd3;
            border-radius: 30px;
            text-align: center;
            height: 50px;
            width: 200px;
            display: inline-block;
            transition: .2s;
            position: relative;
            overflow: hidden;
        }

        .btn_upload {
            padding: 17px 30px 12px;
            color: #fff;
            text-align: center;
            position: relative;
            display: inline-block;
            overflow: hidden;
            z-index: 3;
            white-space: nowrap;
        }

        .btn_upload input {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            width: 100%;
            height: 105%;
            cursor: pointer;
            opacity: 0;
        }

        .file_uploading {
            width: 100%;
            height: 10px;
            margin-top: 20px;
            background: #ccc;
        }

        .file_uploading .btn_upload {
            display: none;
        }

        .processing_bar {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            border-radius: 30px;
            background: #83ccd3;
            transition: 3s;
        }

        .file_uploading .processing_bar {
            width: 100%;
        }

        .success_box {
            display: none;
            width: 50px;
            height: 50px;
            position: relative;
        }

        .success_box:before {
            content: '';
            display: block;
            width: 9px;
            height: 18px;
            border-bottom: 6px solid #fff;
            border-right: 6px solid #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 17px;
            top: 10px;
        }

        .file_uploaded .success_box {
            display: inline-block;
        }

        .file_uploaded {
            margin-top: 0;
            width: 50px;
            background: #83ccd3;
            height: 50px;
        }

        .uploaded_file_view {
            max-width: 300px;
            margin: 40px auto;
            text-align: center;
            position: relative;
            transition: .2s;
            opacity: 0;
            border: 2px solid #ddd;
            padding: 15px;
        }

        .file_remove {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: block;
            position: absolute;
            background: #aaa;
            line-height: 30px;
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            right: -15px;
            top: -15px;
        }

        .file_remove:hover {
            background: #222;
            transition: .2s;
        }

        .uploaded_file_view img {
            max-width: 100%;
        }

        .uploaded_file_view.show {
            opacity: 1;
        }

        .error_msg {
            text-align: center;
            color: #f00
        }
    </style>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            داشکاندی
                            <strong>خواردن</strong>
                        </div>
                        <div class="card-body">
                            <form id="simpleForm" method="post" action="{% url 'deliver:ajax' %}"
                                >
                                <input name="action" type="text" value="specify" hidden>
                                <div class="form-group row">
                                    <label class="col-md-5 form-control-label" for="appendedPrependedInput">دیاری کردنی خوارن</label>
                                    <div class="col-md-6">
                                        <div class="input-prepend input-group">
                                            <select id="select" name="foodId" class="form-control">
                                            <option value="0">خواردنەکان</option>
                                            {% for food in foods %}
                                            <option value="{{ food.id }}">{{ food.title }}</option>
                                            {% endfor %}
                                        </select>
                                            <a href="{% url 'deliver:foods' %}" role="button" class="btn btn-success"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="input-normal">ناو</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="input-normal" name="title" class="form-control"
                                            placeholder="ناو">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="input-large">نرخ</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="input-large" name="price"
                                            class="form-control form-control-lg" placeholder="دع">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-sm btn-primary"><i
                                                class="fa fa-dot-circle-o"></i> زیادكردن</button>
                                        <button type="cancel" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                            وازهینان</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> خواردنه‌كان
                        </div>
                        <div class="card-body">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <h2>گەڕان لە خواردنەکان</h2>
                            <p>بو فلتەوە کردنی خشتەکە :</p>
                            <input class="form-control" id="search" type="text" placeholder="بۆ .....">
                            <br>
                            <table id="tab" class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>خواردن</th>
                                        <th>ناونیشان</th>
                                        <th>نرخی</th>
                                        <th>بەرواری زیادکردن </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for specify in specifies %}
                                    <tr>
                                        <td>{{ specify.id }}</td>
                                        <td>{{ specify.food }}</td>
                                        <td><a href="#">{{ specify.title }}</a></td>
                                        <td>{{ specify.price }}</td>
                                        <td>{{specify.date_added}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#search").on("keyup", function () {
                                        var value = $(this).val().toLowerCase();
                                        $("#tab tr").filter(function () {
                                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                        });
                                    });
                                });
                                $(document).ready(function () {
                                    $('#tab').DataTable();
                                });
                            </script>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!--/.col-->
            </div>
            <!--/.row-->
        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>

{% endblock %}